services:
  musicarr-postgres:
    image: postgres:latest
    container_name: musicarr-postgres
    environment:
      POSTGRES_DB: musicarr
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
    volumes:
      - ${POSTGRES_STORAGE:-musicarr_postgres_data}:/var/lib/postgresql/data
    networks:
      - musicarr-network
    restart: unless-stopped

  musicarr:
    # build:
    #   context: ./
    #   dockerfile: Dockerfile
    container_name: musicarr
    image: ghcr.io/saywess/musicarr:latest
    volumes:
      - ${MEDIA_STORAGE:-musicarr_metadata_storage}:/Media
      - ${METADATA_STORAGE:-musicarr_storage}:/app/metadata
    environment:
      DATABASE_URL: ${DATABASE_URL}
      DATABASE_URL_FOR_ALEMBIC: ${DATABASE_URL_FOR_ALEMBIC}
      YOUTUBE_API_KEY: ${YOUTUBE_API_KEY}
      PYTHONPATH: /app
      PGSSLMODE: disable
      NEXT_PUBLIC_API_URL: http://127.0.0.1
      NEXT_PUBLIC_WS_URL: ws://127.0.0.1/ws
    ports:
      - "30200:80" # Change the desired port here <your_port>:80
    networks:
      - musicarr-network
    depends_on:
      - musicarr-postgres
    restart: no

networks:
  musicarr-network:
    driver: bridge

volumes:
  musicarr_postgres_data:
  musicarr_storage:
  musicarr_metadata_storage:
