services:
  musicarr-postgres:
    image: postgres:latest
    container_name: musicarr-postgres
    environment:
      POSTGRES_DB: musicarr
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
    volumes:
      - ${POSTGRES_STORAGE:-musicarr_postgres_data}:/var/lib/postgresql
    networks:
      - musicarr-network
    restart: unless-stopped

  musicarr-frontend:
    container_name: musicarr-frontend
    build:
      context: ./frontend
      target: production
      dockerfile: Dockerfile
    networks:
      - musicarr-network
    depends_on:
      - musicarr-postgres
    restart: unless-stopped

  musicarr-backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ${MEDIA_STORAGE:-musicarr_metadata_storage}:/Media
      - ${METADATA_STORAGE:-musicarr_storage}:/app/metadata
    environment:
      DATABASE_URL: ${DATABASE_URL}
      DATABASE_URL_FOR_ALEMBIC: ${DATABASE_URL_FOR_ALEMBIC}
      YOUTUBE_API_KEY: ${YOUTUBE_API_KEY}
      PYTHONPATH: /app
    container_name: musicarr-backend
    networks:
      - musicarr-network
    depends_on:
      - musicarr-postgres
    restart: no

  nginx:
    image: nginx:latest
    container_name: musicarr-nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "30200:80" # Change the desired port here <your_port>:80
    networks:
      - musicarr-network
    depends_on:
      - musicarr-postgres
      - musicarr-frontend
      - musicarr-backend

networks:
  musicarr-network:
    driver: bridge

volumes:
  musicarr_postgres_data:
  musicarr_storage:
  musicarr_metadata_storage:
